/Binaries/
/Build/
/Config/
/DerivedDataCache/
/Plugins/
/Saved/

/Content/*
!/Content/Mods/
/Content/Mods/CustomConsole/
/Content/Mods/ExampleWidget/

/ConanSandbox.png
/ConanSandbox.uproject
/ProtectedAssets.pak

active.txt
CookInfo.ini
sync.ffs_db